.showBiography{
    width: 90%;
    height: 150px;
    border: 1px solid #9e9e9e;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
}

.navbar{
    height: 4rem;
    min-width: 100%;
    position: sticky;
    z-index: 2;
    padding: .5rem;
    background-color: #B71C1C;
    font-size: 24px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    color: white;
}

.navbar > a{
    margin-right: .5rem;
}

.menuTabs{
    font-size: 20px;
    list-style: none;
    flex-direction: row;
    cursor: pointer;
}

.menuTabs > li{
    padding: 0 1rem;
}

.menuTabs > li:active{
    font-weight: bold;
}

.pageGuide{
    justify-content: flex-start;
    align-items: center;
    display: flex;
    margin-left: auto;
    color: white;
    font-size: 20px;
}

.footer{
    min-height: 4rem;
    z-index: 2;
    padding: .5rem;
    background-color: #FCE4EC;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    position: fixed;
    bottom: 0;
}

.iconList, .btnsLoginPage{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
}

.icon{
    height: auto;
    width: 100%;
    z-index: 3;
    cursor: pointer;
    display: block;
    text-align: center;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #E5E5E5;
    font-family: 'Hind', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100%;
}

#root{
    padding-bottom: 3.5rem;
}

.indexLogo{
    margin: 0px auto;
    padding-top: 4%;
    color: #FCE4EC;
    display: block;
    text-align: center;
    max-width: 100%;
   
}

.indexTitle{
    margin: 0px auto;
    color: #FCE4EC;
    display: block;
    max-width: 100%;
    text-align: center;
}

.info-login{
    margin: 0px auto;
    margin-top: 2rem;
    display: block;
}

.info-login input{
    display: block;
    margin: 0px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    outline: none;
    max-width: 100%;
    margin-bottom: 20px;
}

#loginButton, #goRegister{
    display: block;
    margin: 0 auto;
    height: 2rem;
    border-radius: 3px;
    font-family: sans-serif;
}


.forget{
    max-width: 100%;
    text-align: center;
}

.forget a{
    color: #FCE4EC;
    padding: 30px 0 20px 0;
    display: block;
    margin: 0 auto;
}

#emailTextfield, #passwordTextfield{
    width: 60%;
    text-align: center;
}


.loginBtn {
    box-sizing: border-box;
    position: relative;
    /* width: 13em;  - apply for fixed size */
    margin: 0.2em;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
}

.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}

.loginBtn:focus {
    outline: none;
}

.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}

/* Facebook */
.loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;
    text-shadow: 0 -1px 0 #354C8C;
}

.loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}

.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
}

  /* Google */
.loginBtn--google {
    font-family: "Roboto", sans-serif;;
    background: #DD4B39;
}

.loginBtn--google:before {
    border-right: #BB3F30 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}

.loginBtn--google:hover,
.loginBtn--google:focus {
    background: #E74B37;
}

#loginPage{
    background-color: #B71C1C;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-size: cover;
}

#icon-user{
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

#image-user{
    width: 80%;
    height: 40px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    justify-content: center;
}


#user-name, #fullName{
    font-size: 150%;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    font-family: sans-serif;
}

#postText, #biographyText{
    width: 90%;
    height: 150px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    justify-content: center;
}

.buttons, #biography{
    background-color: #B71C1C;
    color: white;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    height: 2rem;
    width: 7rem;
    font-size: 16px;
}

.endLine{
    float: inline-end;
}

#biography{
    margin-top: 1rem;
}

#logout{
    height: 2rem;
    text-align: center;
}

.formPost{
    border: 1px solid #9e9e9e ;
    border-radius: 10px;
    margin:1rem auto;
    padding: 1rem;
    max-width: 80%;
}

.comments{
    margin-top: .5rem;
    color: rgb(52, 58, 64);
}

#comments{
    background-image: url("https://subirimagen.me/uploads/20190206145624.png");
    background-repeat: no-repeat;
    text-align: center;
    height: 100%;
    width: 100%;
    background-position: left center;
}

#content-image{
    width: 90%;
    height: 150;
}

#post{
    display: none;
}

#postContainer{
    margin: 0 auto;
    float: inherit;
}

#go-up-text{
    font-size: 20px;
    max-width: 80%;
    margin: 0 auto; 
}

h1{
    padding: .5rem;
}

h4{
    margin-bottom: 0;
    margin-top: 3rem;
    background-color: #e5e5e5;
}

.bottomBorder{
    border-bottom: 1px solid rgba(0,0,0,.125);
}

p{
    margin: 0;
}

#file-upload{
    margin: 0 auto;
    display: block;
    width: 80%;
}

.cardImage{
    max-width: 90%;
    margin: 0 auto;
}


.cardProfileImage{
    max-width: 100%;
    margin: 0 auto;
    border-radius: 100%;
}


.cardIcons{
    cursor: pointer;
}

.centered{
    text-align: center;
}

.flexRow{
    display: flex;
    margin: 0 auto;
}

.inlineFlexRow{
    display: inline-flex;
}

.alignment{
    align-self: center;
}

textarea{
    width: 100%;
    resize: none;
    height: 55px;
    border-radius: 5px;
    margin-bottom: .5rem;
    border: darkgray solid 2px;
}

#register-form{
    max-width: 50%;
    display: block;
    margin: 0 auto;
    justify-content: center;
    margin-top: 100px;
}

#registerButton{
    margin: 0 auto;
    display: block;
    margin-top: 20px;
    width: 100px;
    height: 25px;
    border-radius: 4px;
    color:#212121;
    background-color: #fafafa;
    font-family: sans-serif;
}

#welcomeText{
    color: white;
    font-size: 25px;
    text-align: center;
    margin-top:-20px;
}

#registerEmail, #registerPassword{
    width: 100%;
    height: 25px;
    margin:10px;
    border-radius: 5px;
    text-align: center;
}

#registerEmail{
    background-image:url("https://subirimagen.me/uploads/20190206075753.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: left center;
}

#registerPassword{
    background-image: url("https://subirimagen.me/uploads/20190206080036.png");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: left center;
}

.formStyle{
    display:block;
    margin: 0 auto;
    background-color: #B71C1C;
    padding-bottom: 20%;
    padding-top: 3%;
    margin-top: 15px;
}
