.navbar{
    min-height: 1rem;
    min-width: 100%;
    position: sticky;
    z-index: 2;
    padding: .5rem;
    background-color: #B71C1C;
    font-size: 24px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    color: white;
}

.navbar > a{
    margin-right: .5rem;
}

.menuTabs{
    font-size: 20px;
    list-style: none;
    flex-direction: row;
    cursor: pointer;
}

.menuTabs > li{
    padding: 0 1rem;
}

.menuTabs >li:active{
    font-weight: bold;
}

.pageGuide{
    justify-content: flex-start;
    align-items: center;
    display: flex;
    margin-left: auto;
    font-size: 20px;
}

.footer{
    min-height: 1rem;
    z-index: 2;
    padding: .5rem;
    background-color: #FCE4EC;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    position: absolute;
    bottom: 0;
}

.iconList{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.icon{
    max-width: 100%;
    z-index: 3;
    cursor: pointer;
    margin: 0 auto;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #E5E5E5;
    font-family: 'Hind', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}