.navbar{
    min-height: 1rem;
    min-width: 100%;
    position: sticky;
    z-index: 2;
    padding: .5rem;
    background-color: #B71C1C;
    font-size: 24px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
}

.pageGuide{
    justify-content: flex-start;
    align-items: center;
    display: flex;
    margin-left: auto;
    color: white;
    font-size: 20px;
}

.footer{
    min-height: 1rem;
    z-index: 2;
    padding: .5rem;
    background-color: #FCE4EC;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    position: absolute;
    bottom: 0;
}

.iconList{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.icon{
    height: auto;
    width: 100%;
    z-index: 3;
    cursor: pointer;
    display: flex;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #E5E5E5;
    font-family: 'Hind', sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.indexTitle{
    margin: 0px auto;
    padding-top: 4%;
    color: #FCE4EC;
    font-family: Open Sans,sans-serif;
    font-weight: 700;
    font-size: 30px;
    display: block;
    max-width: 100%;
    text-align: center;
}


.medium{
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.line{
    border: none;
    border-bottom: 1px solid;
    margin: 10px;
    height: 1px;
    -webkit-box-flex: 1;
    flex: 1 0;
    color: #FCE4EC;
}

.info-login{
    margin: 0px auto;
    margin-top: 10%;
    display: block;
}

.info-login input{
    display: block;
    margin: 0px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    outline: none;
    max-width: 100%;
    margin-bottom: 20px;

}

#signInBtn{
    text-align: center;
}

.signInBtn{
    background: #BDBDBD;
    border: 0px;
    border-radius: 5px;
    padding: 15px;
    margin: 0px auto;
    max-width: 100%;
}

.forget{
    color: #FCE4EC;
    padding: 30px 0 20px 0;
    display: block;
    width: 100%;
}

#loginPage{
    background-color: #B71C1C;
    background-repeat: no-repeat;
    min-height: 100hv;
    background-size: cover;

#icon-user{
    margin-left: 10px;
    width: 50px;
    height: 50px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    
}
#image-user{
    width: 80%;
    height: 40px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    justify-content: center;
    
}

#user-name{
    font-size: 1rem;
    
    max-width: 100%;
    display: block;
    margin: 0 auto;
  
    
}

#post-text{
    width: 90%;
    height: 150px;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    justify-content: center;
   
}

#send{
    width: 120px;
    height: 30px;
    background-color: #B71C1C;
    font-size: 10px;
    color: white;
    border-radius: 5px;
}

#post-form{
    max-width: 100%;
    display: block;
    margin: 0 auto;
    justify-content: center;
}

#form-post{
    border: 1px solid #9e9e9e ;
    margin:20px;
    padding: 20px;
}

#content-image{
    width: 90%;
    height: 150;
}


